@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-icon {
  background: linear-gradient(to bottom right, #4A4E54, #A3ADBA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}